#header-container{
    background-color: slategray;
    top: 0;
    left: 0;
    margin:0;
    position: fixed;
    width: 100%;
    vertical-align: center;    


}

.header-list {
    display: inline-block;
}
#header-list {
    display: inline-block;
}      

a {
    background-color: skyblue;
    color: slategray;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    vertical-align: center;    


}

#header-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: skyblue;
    display: inline-block;
    margin: 10px;
    vertical-align: center;    

}

#home-page-contents {
    display: block;
    background-color: rgb(148, 148, 148);

}