#header-container{
    background-color: slategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;
    margin:0;
    position: fixed;
    width: 100%;
    vertical-align: center;    
}

.header-list {
    display: inline-block;
}
#header-list {
    display: inline-block;
}      

a {
    background-color: rgb(175, 220, 238);
    text-decoration: none;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    vertical-align: center;    


}

#header-1 {
    color: skyblue;
    display: inline-block;
    margin: 10px;
    vertical-align: center;    

}

#home-page-contents {
    background-color: whitesmoke;

}


#container {
    margin-top: 60px;
}

#no-decoration {
    text-decoration: none;
    background-color: none;
}